.footer_Layout{
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left:0;
    z-index: 1030;
    color: #818a91;
    background-color: #58585A;
}
.footer {
    border-top: 1px solid rgba(152, 166, 173, 0.2);
    bottom: 0;
    color: #818a91;
    text-align: left;
    padding: 19px 30px 20px;
    position: absolute;
    right: 0;
    left: 250px; 
}
  