<div class="card __layout">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <img class="logo_Image" src="assets/Logo.svg" alt="image">
            </div>
            <div class="col-md-6" style="margin-top: 1rem;">
                <span class="layout">
                    <label style="font-family: Muli-Regular ,sans-serif;">Why
                        Us?</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label style="font-family: Muli-Regular ,sans-serif;">Marketing
                        Place</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label
                        style="font-family: Muli-Regular ,sans-serif;">Pricing</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="sign" style="font-family: Muli-Regular ,sans-serif;">Sign Up.It's free</a>
                </span>
            </div>
            <div class="col-md-5" style="margin-top: 7rem;">
                <label class="font_layout"style="font-family: Montserrat-Bold ,sans-serif;">We take care Marketing things</label>
                <a class="plan" ><span class="text" style="font-family: Muli-Regular ,sans-serif;">Pick a Plan</span>
                    </a>
            </div>
            <div class="col-md-7" style="margin-top: 3rem;">
                <img class="illustrate" src="assets/Illustration.svg" alt="image"> 
            </div>
            <div class="col-md-12">
             <label class="explore" style="font-family: merriweather-bold ,sans-serif;">Explore Marketing Tips</label>
            </div>
            <div class="col-md-4" style="margin-left: 3rem;margin-top: 1rem;">
                <img class="mask" src="assets/Mask Group 1.png" alt="image"> 
                <label class="_text_1"style="font-family: merriweather-bold ,sans-serif;">Tips for a good Pitching Presentation</label>
                <label class="_text_2"style="font-family: Muli-Regular ,sans-serif;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</label>
            </div>
            <div class="col-md-4" style="margin-top: 1rem;">
                <img class="mask1" src="assets/mask2.png" alt="image">
                <label class="_text_1"style="font-family: merriweather-bold ,sans-serif;">Improve Your Content's Traffic</label>
                <label class="_text_2"style="font-family: Muli-Regular ,sans-serif;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</label> 
            </div>
            <div class="col-md-3" style="margin-top: 1rem;">
                <img class="mask2" src="assets/Mask3.png" alt="image"> 
                <label class="_text_1"style="font-family: merriweather-bold ,sans-serif;">Reaching Deal with your Clients</label>
                <label class="_text_2"style="font-family: Muli-Regular ,sans-serif;">“Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</label> 
            </div>
           <div class="col-md-2" style="margin-left: 3rem;">
            <img class="end_logo" src="assets/Logo.svg" alt="image">
           </div>
           <div class="col-md-4" style="margin-top: 1rem;">
               <label class="end_text1" style="font-family: Muli-Regular ,sans-serif;">Terms & Condition</label>&nbsp;&nbsp;&nbsp;&nbsp;
               <label class="end_text2" style="font-family: Muli-Regular ,sans-serif;">Privacy Policy</label>
           </div>
           <div class="col-md-5" style="margin-top: 1rem;">
            <label class="end_text3" style="font-family: Muli-Regular ,sans-serif;">® 2019 Company name. All rights reserved.</label>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>


        </div>
    </div>
</div>