<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm  mb-5 bg-white rounded header__nav">
    <h4 style="padding-right: 1rem;margin-bottom: 0;" routerLink="/Pages">
        Header
    </h4>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/Pages/task1">&nbsp;Task1</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/task2">&nbsp;Task2</a>
              </li>
            </ul>
    </div>
</nav>